<div id="video" class="column">
  <% @posts.each do |post| %>
    <div class="main-color">
      <%= post.title  %>
    </div>
    <hr>
    <div>
      <p>
        <%= post.content  %>
      </p>
      <%= media_content post %>
   </div>
  <% end %>
</div>

