body {
  background-color: #1B171B;
  color: #FFFFFF;
  padding: 50px 150px;
}

.main-color {
  color: #BE245D;
}

.main-title {
  font-size: 70px; 
}

.info-table {
  text-align: center;
  margin: 25px;
  clear: both;
  height: 250px;
  width: 100%;
}

.info-table .column {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 10px;
}

.column .main-color {
  font-size: 50px; 
}

.column .cell-info {
  font-size: 30px;
}

.cell-info .small {
  font-size: 18px;
}

.cell-info .medium {
  font-size: 20px;
}
  
.cell-info .large {
  font-size: 60px;
}

.cell-info-small {
  font-size: 18px;
}

#organization {
  text-align: center;
  margin: 25px;
  clear: both;
  height: 400px;
  width: 100%;
}

#organization .column {
  width: 33.3%;
  float: left;
  text-align: left;
}

#event-objectives {
  margin: 25px;
  clear: both;
  height: 570px;
  width: 100%;
}
