@font-face {
    font-family: Coloquio;
    src: url('CODE_Bold.otf');
}

body {
  background-color: #b6b7b4;
  background-image: asset-url('coloquio.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #000;
  padding: 50px 150px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 18px;
  min-width: 1200px;
  margin-top: 40px;
}

.thin {
  font-weight: 100;
}

.strong {
  font-weight: 700;
}

.main-color {
  color: #c15d5b;
}

.principal-color {
  color: #c15d5b;
}

#title img {
  width: 70%;
  margin-left: -6.3%;
}

#event-objectives p, p.indented {
  text-indent: 50px;
}

.clear {
  clear: both;
}

.info-table {
  text-align: center;
  margin: 25px 0px;
  clear: both;
  width: 100%;
  overflow: auto;
}

.info-table .column {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 10px;
}

.column .main-color {
  font-size: 50px;
  font-family: Coloquio;
}

.column .cell-info {
  font-size: 30px;
}

.cell-info .small {
  font-size: 18px;
}

.cell-info .medium {
  font-size: 20px;
}

.cell-info .large {
  font-size: a60px;
}

.cell-info-small {
  font-size: 18px;
}

#organization {
  text-align: center;
  margin: 25px 0px;
  clear: both;
  width: 100%;
  overflow: auto;
}

#organization img {
  width: 100px;
  margin: 5px;
  text-align: center;
}

#organization .column {
  width: 50%;
  float: left;
  text-align: left;
}

#supporters {
  text-align: left;
  margin: 25px 0px;
  clear: both;
  width: 100%;
  min-width: 1000px;
  overflow: auto;
}

#supporters img {
  max-height: 100px;
  max-width: 180px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

#supporters .main-color {
  font-size: 50px;
}

.supporter {
  float: left;
}

#event-objectives {
  margin: 25px 0px;
  clear: both;
  overflow: auto;
  width: 100%;
  text-align: justify;
}

#program {
  text-align: left;
  margin: 25px 0px;
  clear: both;
  overflow: auto;
  width: 100%;
}

#program table, #event-objectives, #work-team, #inscriptions {
  font-size: 18px;
}

#work-team {
  margin: 25px 0px;
  clear: both;
  overflow: auto;
  width: 100%;
}

#work-team a, .organizer a , .supporter a, #inscriptions a {
  color: white;
  text-decoration: underline;
}

#days .hour {
  width: 60px;
  vertical-align: top;
}

#days table {
  border-spacing: 5px;
  border-collapse: separate;
}

#days td {
  font-weight: 100;
  line-height: 27px;
}

#video {
  margin: 30px 0px;
}

#footer {
  text-align: center;
  font-size: 18px;
}

#footer a {
  color: white;
}

.triangle {
  float:left;
  width: 60px;
  margin-top: 16px;
  margin-right: 5px;
}

.triangle img {
  width: 100%;
}

#video video {
  margin-bottom: 30px;
}

.payment-text {
  margin: 10px 0px;
  width: 760px;
}

.float-left {
  float: left;
}

.to-top {
  margin-top: -35px;
}

h3 {
  font-size:18px;
}

p {
  text-align: justify;
}

.new_admin {
  input {
    color: black;
  }
}

.form-control {
  width: 250px;
}

@media (max-width: 1200px) {
    body {
        background-size: 1200px;
    }
}
